extends ../layouts/header
block header

    .container
        h2 Edit
        if errors
            each error in errors
                .alert.alert-danger= error + " is required"
            form(action="/products/update/"+ value.id, method="post",enctype="multipart/form-data")

                            .form-group
                                label(for="name") Name
                                input#name.form-control(name="name" type="text", value=value?value.name:"")
                                label(for="price") price
                                input#price.form-control(name="price" type="text", value=value?value.price:"")
                                label(for="description") description
                                input#description.form-control(name="description" type="text", value=value?value.description:"")
                                label(for="quantity") quantity
                                input#quantity.form-control(name="quantity" type="text", value=value?value.quantity:"")
                                label(for="outdate") outdate
                                input#outdate.form-control(name="outdate" type="date", value=value?value.outdate:"")
                                label(for="image") image
                                input#image.form-control(name="image" type="file", value=value?value.image:"http://dummyimage.com/500x500.bmp/cc0000/ffffff")
                                button.btn.btn-primary Update!

        else
            form(action="/products/update/"+ product.id, method="post",enctype="multipart/form-data")

                            .form-group
                                label(for="name") Name
                                input#name.form-control(name="name" type="text", value=product.name)
                                label(for="price") price
                                input#price.form-control(name="price" type="text", value=product.price)
                                label(for="description") description
                                input#description.form-control(name="description" type="text", value=product.description)
                                label(for="quantity") quantity
                                input#quantity.form-control(name="quantity" type="text", value=product.quantity)
                                label(for="outdate") outdate
                                input#outdate.form-control(name="outdate" type="date", value=product.outdate)
                                label(for="image") image
                                input#image.form-control(name="image" type="file", value=product.image)
                                button.btn.btn-primary Update!
